out
.orig
build.xml
target/*
build/*
tmp/*
precompiled/*
modules/*
lib/*
tools/node_modules/*
catalog.xml
src/main/webapp/css/your_new_project.css
src/main/webapp/css/lib
src/main/webapp/js/your_new_project.js
src/main/webapp/js/deps.js
src/main/webapp/js/lib
nbproject/*
dist/*
.DS_Store
/*/.DS_Store
*.iml
*.ipr
*.iws
.idea
.classpath
.metadata/*
.project
.settings/*
eclipse/*
