out
.orig
build.xml
build/*
tmp/*
precompiled/*
modules/*
lib/*
catalog.xml
public/stylesheets/cs.css
public/javascripts/cs.js
public/javascripts/deps.js
public/javascripts/lib/closure
nbproject/*
dist/*
.DS_Store
/*/.DS_Store
*.iml
*.ipr
*.iws
.idea
.classpath
.metadata/*
.project
.settings/*
eclipse/*
